.App {
  text-align: center;
  margin: 20px;
}

.card-selection, .hand-section {
  margin: 20px 0;
}

.card-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.cards-display {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card-image {
  margin: 5px;
  width: 60px;
  height: auto;
  cursor: pointer;
}

.card-image:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.calculate-button, .clear-button, .split-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.clear-button {
  background-color: red;
  position:absolute;
  top:10px;
  left:10px;
}

.clear-button:hover {
  background-color: darkred;
}

.split-button {
  background-color: blue;
}

.split-button:hover {
  background-color: darkblue;
}

.calculate-button:hover {
  background-color: darkgreen;
}

.hand-section {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.player-hands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  margin-top: 20px;
  color: blue;
}