.settings-panel {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: #bebebe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
}

.panel-header {
  display: flex;
  justify-content: center; 
  align-items: center; 
  cursor: pointer;
  height: 100%; 
  text-align: center; 
}

.toggle-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px; 
}

.panel-content {
  margin-top: 1px;
}

.minimized {
  width: 150px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
}

.minimized .panel-content {
  display: none;
}